@use "./../../../../public/styles/colores.scss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');


.contenedor{
    display: flex;
    position: relative;
    z-index: 2;
    align-items: center;           
    justify-content: space-between;
    padding: 0 50px;               
    
}

.encab-head {
    font-size: 50px;
    margin-left: 25px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 25px;
    align-items: center;
    color: colores.$color-texto;
}
.encab-head:hover {
    color: colores.$color-principal;
    text-shadow: 2px 2px 4px colores.$color-secundario;
    transition: color 0.3s ease, text-shadow 0.3s ease;
   
}


nav {
    display: flex;
    gap: 25px;                     
    justify-content: flex-end;     
    align-items: center;            
    font-size: 25px;
    
}

.links a{
    text-decoration: none;
    display: flex;                  
    gap: 16px;
    align-items: center;            
    margin-top: 40px;                      
    padding: 10px;                  
    color: colores.$color-texto;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.links a:hover {
    color: colores.$color-principal;
    text-shadow: 2px 2px 4px colores.$color-secundario;
}
