<app-header></app-header>

<div id="tabla">
    <div id="header-tabla">
        <div>{{header.nro}}</div>
        <div>{{header.disponibilidad}}</div>
        <div>{{header.ingreso}}</div>
        <div>{{header.acciones}}</div>
    </div>
    <ng-container *ngFor="let fila of filas; let i = index">
        <div class="fila" (click)="abrirModalNuevoEstacionamiento(fila.id)"> <!--modifica una cochera -->
            <div>{{fila.id}}</div>
            <div [ngClass]="{'no-disponible': fila.deshabilitada === 1, 'disponible': fila.deshabilitada === 0}">
                {{fila.deshabilitada ? "no disponible" : "disponible"}}
            </div>
            <div>{{fila.descripcion}}</div>
            <div class="boton-borrar">
                <!-- Agregar $event.stopPropagation() para detener la propagación del clic -->
                <i (click)="eliminarFila(fila.id); $event.stopPropagation()" class='bx bx-trash'></i>
                <i (click)="cambiarDisponibilidadCochera(i); $event.stopPropagation()" class='bx bxs-check-circle'></i>
            </div>
        </div>
        
    </ng-container>
    
    
    
</div>

<div class="boton-agregar">
    <button id="boton" (click)="MostrarCochera()">Mostrar cocheras</button>
</div>

