@use "./../../../../public/styles/colores.scss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');


*{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 50px;
    margin-right: 50px;
}

        #table {
            width: 50%;
            margin: 40px 0;
            font-size: 20px;
            text-align: center;
            background-color: colores.$color-texto-invertido-claro; 
            margin-left: auto;
            margin-right: auto;
        }

        #header-tabla {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            background-color: colores.$color-principal; 
            color: colores.$color-texto;
            text-align: center;
            padding: 10px; 
            font-size: 25px;
        }

        .fila {
            display: grid;
            grid-template-columns: repeat(4, 1fr); /* 4 columnas para coincidir con el encabezado */
            padding: 10px;
            align-items: center;
            text-align: center;
        }

 

        .fila:nth-child(even) {
            background-color: colores.$color-texto-invertido-claro; 
        }

        .fila:nth-child(odd) {
            background-color: colores.$color-texto-invertido; 
        }

        .fila:hover {
            background-color: #898989; //CAMBIA YA ESTO!
        }

        .Disponible {
            background-size: 50%;
            padding: 50%;
        }

        #estado-cocheras {
            text-align: center;
            font-size: 20px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin: 20px;
            font-weight: bold;
            background-color: colores.$color-texto-invertido-claro; 
            padding: 5px;
            border-radius: 5px;
            width: 20%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        main {
            margin: 0;
            background-size: cover;
            min-height: 100vh;
        }

        .boton-agregar {
            text-align: center;
            background-color: colores.$color-texto;
            padding: 10px;
            margin: 10px 0;
            width: 180px;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            margin-left: auto;
            margin-right: auto;
            transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Agregando transición */
            box-shadow: 0 4px 8px colores.$color-contraste-principal; /* Sombra inicial */
        }
        

        .boton-borrar {
            cursor: pointer;
            display: flex;
        }

        .boton-borrar i {
            font-size: 20px;
            margin-left: 10px;
        }

        .boton-agregar:hover {
        background-color: colores.$color-principal;
        box-shadow: 0 6px 12px colores.$color-principal-bajado;
            
        }

        #boton {
            background-color: transparent;
            border-color: transparent;
            color: colores.$color-texto-invertido-claro;
        }
        .botones{
            display: flex;
        }
        div {
            display: grid;
            padding: 10px;
            align-items: center;
        }

        #tabla {
            margin-left: auto;
            margin-right: auto;
        }


/* estado-cocheras.component.scss */

/* estado-cocheras.component.scss */

.no-disponible {
    
    text-shadow: 1px 1px 3px red; /* Sombra roja para "no disponible" */
}


