<section class="fondo-autos">
<app-header  id="encab-head" class="links"></app-header>

<div class="tabla">

    
    <div class="fila">
        <div class="columna">
            <div class="header">Tiempo</div>
        </div>
        <div class="columna">
            <div class="header">Precio</div>
        </div>
        <div class="columna">
            <div class="header">Acciones</div>
        </div>
    </div>

    
    <div class="fila" *ngFor="let tarifa of tarifas">
        <div class="columna">{{ tarifa.descripcion }}</div>
        <div class="columna">{{ tarifa.valor }}</div>
        <div class="columna">
            <i class='bx bxs-edit-alt' (click)="actualizar(tarifa.id)"></i>
        </div>
    </div>
</div>

</section>