@use "./../../../../public/styles/colores.scss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: colores.$color-texto-invertido;  
}

.background {
    background-image: url("./page-content/background.png"); 
    background-size: cover;   
    background-position: center;  
    background-repeat: no-repeat; 
    width: 100vw;   
    height: 100vh;  
}

.formulario{
    width: 320px;
    height: auto;
    top: 40%;
    left: 75%;
    transform: translate(90%,35%);
}

.formulario h1{
    font-size: 40px;
    text-align: center;
}

input{
    color: colores.$color-texto-invertido;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid colores.$color-texto-invertido-claro;  
    border-radius: 48px;
    outline: none;
    font-size: 20px;
    padding: 20px 45px 20px 20px;
}

::placeholder{
    color: colores.$color-texto-invertido;
}

.formulario .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: colores.$color-texto-invertido;
    margin-right: 3px;
}

.remember-forgot a{
    color: colores.$color-texto-invertido;
    text-decoration: none;
}

.remember-forgot a:hover{
    color: colores.$color-principal;
    text-decoration: underline colores.$color-principal;
}

.formulario .register-link{
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}

.register-link p{
    color: colores.$color-texto-invertido;
}

.register-link a{
    color: colores.$color-texto-invertido;
    text-decoration: none;
}

.register-link a:hover{
    color: colores.$color-principal;
    text-decoration: underline colores.$color-principal;
}

.formulario .btn{
    padding: 20px 15px;
    background-color: colores.$color-principal-bajado;
    color: colores.$color-texto-invertido-claro;
    border: none;
    border-radius: 48px;
    cursor: pointer;
    font-size: 25px;
}

.btn-3:hover {
    background-color: colores.$color-secundario;
}

.container{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    text-align: center;
    text-decoration: none;
    padding: 20px 15px;
    font-size: 25px;
    position: relative;
    margin: 20px;

}

.btn-3{
    width: 250px;
    color: colores.$color-texto-invertido-claro;
    border-radius: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.btn-3::after{
    content: "";
    width: 300px;
    height: 300px;
    position: absolute;
    top: -150px;
    left: -20px;
    background-image: linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);
    z-index: -1;
    transition: transform 0.5s ease;
}

.btn-3:hover{
    transform: translate(0, -6px);
    box-shadow: 0 0 25px 5px rgba(colores.$color-contraste-principal, 0.5), 0 0 25px 5px rgba(colores.$color-principal, 0.7);
}

.btn-3:hover::after{
    transform: rotate(180deg);
}
