$color-principal:#FFD100;
$color-contraste-principal:#333533;
$color-secundario:#fff95b;
$color-texto:#202020;
$color-texto-invertido:#D6D6D6;
$color-secundario-bajado:#ffee32d7;
$color-base-claro:#f6f7eb;
$color-principal-bajado:#ffd00092;
$color-secundario-superbajado:#ffee327c;