$color-principal:#FFD100;
$color-contraste-principal:#333533;
$color-secundario:#fff95b;
$color-texto:#202020;
$color-texto-invertido:#f3f3f3;
$color-secundario-bajado:#ffee32d7;
$color-texto-invertido-claro:#ffffff;
$color-principal-bajado:#ffda45;
$color-secundario-superbajado:#ffee327c;
$color-hover:#898989,
