<section class="fondo-reportes">
    
        <app-header class="contenedor" ></app-header>
    
    <div>
        <div id="table">
            <div id="header-tabla">
                <div>Número</div>
                <div>Mes</div>
                <div>Usos</div>
                <div>Cobrado</div>
            </div>
            @for (reporte of reportes; track $index) {
            <div  class="fila">
                <div>{{ $index + 1 }}</div>
                <div>{{ reporte.mes }}</div>
                <div>{{ reporte.usos }}</div>
                <div>${{ reporte.cobro }}</div>
            </div>
            }
        </div>
    </div>


    <button (click)="modal()" class="boton-agregar">Hacé click</button>
</section>
