@use "./../../../public/styles/colores.scss";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    margin-left: 20px;
    margin-right: 20px;
}


.tabla-component{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabla {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
.columna {
        margin: 0 10px;
    }
.columna div {
        padding: 10px;
        border: 1px solid colores.$color-principal;
        text-align: center;
        margin-bottom: 5px;
    }
.columna div.header {
        font-weight: bold;
        background-color: colores.$color-principal;
    }