<!-- <app-header></app-header> -->

<h1>Tabla de precios</h1>
<div class="tabla-component">
    <div class="tabla">
        <!-- Columna de Vehículo -->
        <div class="columna">
            <div class="header">Vehículo</div>
            <div>Auto</div>
        </div>

        <!-- Columna de Tiempo -->
        <div class="columna">
            <div class="header">Tiempo</div>
            <div>Media hora</div>
            <div>1 hora</div>
            <div>3 horas</div>
            <div>5 horas</div>
            <div>8 horas</div>
            <div>10 horas</div>
            <div>12 horas</div>
            <div>24 horas</div>
        </div>

        <!-- Columna de Precio -->
        <div class="columna">
            <div class="header">Precio</div>
            <div>$500</div>  <!-- Media hora -->
            <div>$800</div>  <!-- 1 hora -->
            <div>$1,500</div> <!-- 3 horas -->
            <div>$2,500</div> <!-- 5 horas -->
            <div>$4,000</div> <!-- 8 horas -->
            <div>$6,000</div> <!-- 10 horas -->
            <div>$8,000</div> <!-- 12 horas -->
            <div>$10,000</div> <!-- 24 horas -->
        </div>
    </div>

    <div class="tabla">
        <!-- Columna de Vehículo -->
        <div class="columna">
            <div class="header">Vehículo</div>
            <div>Camioneta</div>
        </div>

        <!-- Columna de Tiempo -->
        <div class="columna">
            <div class="header">Tiempo</div>
            <div>Media hora</div>
            <div>1 hora</div>
            <div>3 horas</div>
            <div>5 horas</div>
            <div>8 horas</div>
            <div>10 horas</div>
            <div>12 horas</div>
            <div>24 horas</div>
        </div>

        <!-- Columna de Precio -->
        <div class="columna">
            <div class="header">Precio</div>
            <div>$500</div>  <!-- Media hora -->
            <div>$800</div>  <!-- 1 hora -->
            <div>$1,500</div> <!-- 3 horas -->
            <div>$2,500</div> <!-- 5 horas -->
            <div>$4,000</div> <!-- 8 horas -->
            <div>$6,000</div> <!-- 10 horas -->
            <div>$8,000</div> <!-- 12 horas -->
            <div>$10,000</div> <!-- 24 horas -->
        </div>
    </div>
    <div class="tabla">
        <!-- Columna de Vehículo -->
        <div class="columna">
            <div class="header">Vehículo</div>
            <div>Moto</div>
        </div>

        <!-- Columna de Tiempo -->
        <div class="columna">
            <div class="header">Tiempo</div>
            <div>Media hora</div>
            <div>1 hora</div>
            <div>3 horas</div>
            <div>5 horas</div>
            <div>8 horas</div>
            <div>10 horas</div>
            <div>12 horas</div>
            <div>24 horas</div>
        </div>

        <!-- Columna de Precio -->
        <div class="columna">
            <div class="header">Precio</div>
            <div>$500</div>  <!-- Media hora -->
            <div>$800</div>  <!-- 1 hora -->
            <div>$1,500</div> <!-- 3 horas -->
            <div>$2,500</div> <!-- 5 horas -->
            <div>$4,000</div> <!-- 8 horas -->
            <div>$6,000</div> <!-- 10 horas -->
            <div>$8,000</div> <!-- 12 horas -->
            <div>$10,000</div> <!-- 24 horas -->
        </div>
    </div>
</div>